@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:ital,wght@1,200&family=Roboto+Condensed:wght@300&family=Titillium+Web:wght@300&display=swap');

.contactform h1{
	font-family: 'Titillium Web', sans-serif;
/*	text-align: center;*/
}
.contactform{
	font-family: 'Titillium Web', sans-serif;
	padding:0 20px;
	padding-top: 90px;
	margin-left: 30px;
}
.contactform form div{
	display: flex;
	flex-direction: column;
	padding:10px 0;

}
.contactform form div input{
	width: 300px;
	padding: 2px;
	border-radius: 3px;
} 
.contactform form div textarea{
	width: 300px;
	padding: 2px;
	border-radius: 3px;
} 

.btn-submit{
    padding: 5px;
    background: white;
    color: #039AA7;
    border-radius: 15px;
    margin: 0px 10px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #cad3da;
}
.btn-submit:hover{
	background: #039AA7;
	color: white;
}