@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:ital,wght@1,200&family=Roboto+Condensed:wght@300&display=swap');


*{
	padding: 0;
	margin: 0;
}
.sidebar{
  	background-color: #039AA7;
  	color:white;
  	width: 200px;
  	font-family: 'Roboto Condensed', sans-serif;
  	height: 100vh;

}
.sidebar nav{
	padding: 40px;
}
.sidebar nav li{
	list-style: none;
	font-size: 25px;
	padding: 20px 0;
}
.sidebar nav li a{
	text-decoration: none;
	color: white;
}


.main{
/*	background-color: yellow;*/
	width: 85vw;
}
.container{
	width: 100vw;
	display: flex;
}

.infoDiv{
	display: flex;
	justify-content: space-around;
/*	background-color: green;*/
	height: 60vh;
	width: 80vw;
	margin: 115px auto;
	font-family: 'Roboto Condensed', sans-serif;
}
.MyInfo{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.hello{
	font-size: 60px;
	color: #299faf
}
.MyName{
	font-size: 55px;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
}
.about{
	font-size: 40px;
}

.buttons{
	margin-top: 30px;
}

.buttons button{
    padding: 5px;
    background: white;
    color: #039AA7;
    border-radius: 15px;
    margin: 0px 10px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #cad3da;
}
.buttons button:hover{
	background: #039AA7;
	color: white;
} 




.myPic{
	height: 80vh;
}
.myPic img{
    height: 60vh;
}

.description{
	font-size: 19px;
	font-family: 'Montserrat', sans-serif;
	margin: 5px;

} 




.footer{
	text-align: center;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: -18px;
}
.footer a{
	text-decoration: none;
}



/**************************my intro page*************************/
p{
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 15px;
}
h1, h2{
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 15px;
}
.color{
/*	width: 30vw;*/
    height: 3px;
    background-color: red;
}
.skill{
	align-items: baseline;
    display: flex;
    margin: 10px;
    font-weight: bold;
}
.skill .colorGry{
	background-color: #c5c5ce;
    width: 35vw;
}

.mySkills{
	margin-left: 15px;
}

/*********************skills precentages*********************/
.skill .sixT{
	width: 60%;
}
.skill .fiveT{
	width: 50%;
}
.skill .thirdT{
	width: 30%;
}
.skill .fourT{
	width: 40%;
}



/******************* responsiveness ********************/
@media (max-width: 992px) {
  /*body {
    background-color: blue;
    color: white;
  }*/
  .container{
  	display: flex;
  	flex-direction: column;
  }
  .sidebar{
	width: 100vw;
	height: 8vh;
  }
  .sidebar nav li {
    list-style: none;
    font-size: 19px;
    padding: 0 0;
  }
  .sidebar nav ul{
  	display: flex;
    justify-content: space-between;
/*    border: 2px solid black*/
  }

  .main{
  	width: 100vw;
  }
  .sidebar nav{
 	padding: 14px;
  }
  .infoDiv{
  	margin-top: 265px;
    display: flex;
    flex-direction: column;
  }
}
.myPic img {
    height: 60vh;
    width: 376px;
}

.main .contactform{
	padding: 6px;
}

